
1/

\.curseclient

minecraftinstance\.json

mods/foamfix-0\.10\.3-1\.12\.2\.jar

local/

logs/

crafttweaker\.log

options\.txt

optionsof\.txt

usercache\.json

usernamecache\.json

saves/

config/splash\.properties

\.mixin\.out/

mods/memory_repo/

dropt\.log

journeymap/
